

body { 
	background-color: grey;
	border-width: 3px;
	margin: 50px;

}

#mainheader {
	text-align: center;
	color: orange;
	text-shadow: 2px 1px #000000;
}

h1, h3 {
	text-align: center;
	color: black;
}

#one { 
	margin: 10px;
	padding: 10px;
}


.main {

	border: 3px solid;
	background: white;
	margin: 10px;
}

img.me {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}



ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;