
body {
	background-color: #fff;
	border-width: 3px;
	margin: auto;
}
#mainheader {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #333;
}
h1, h3 {
	text-align: center;
	color: black;
}
.main  {
	padding: 10px;
	color: #fff;
	border: 0px solid;
	border-radius: 15px;
	background-color: #486A8C;
	margin: auto;
	text-align: center;
	font-family: sans-serif, times;
	width: 100%;
	max-width: 35em;
}
img.me {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
padding: 5px;

}
ul#menu {
    padding: -150px;
    text-align: right;
	  display: block;
	}
ul#menu li {
    display: inline;
}
ul#menu li a {
    background-color: #486A8C;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    font-family: 'raleway', sans-serif;
		font-weight: 200;
		color: #fff;
}
ul#menu li a:hover {
    background-color: #333;
}
a img {
	border: 0 none;
}
.emailform {
	margin: auto;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-family: 'raleway', sans-serif;


}
.bookmarks {
		text-align: center;
		font-family: 'raleway', sans-serif;
		color: #333;
}

img.mainlogo {

	margin:auto;
	display: block;
}

footer{
	text-align: center;
	font-family: 'raleway', sans-serif;

}

* {
    box-sizing: border-box;
	}

	.icon-scroll,
	.icon-scroll:before {
	  position: absolute;
	  left: 50%;


	}
	.icon-scroll {
	  width: 40px;
	  height: 70px;
	  margin-left: -20px;
	  top: 50%;
	  margin-top: 315px;
	  box-shadow: inset 0 0 0 1px #fff;
	  border-radius: 25px;
	}
	.icon-scroll:before {
	  content: '';
	  width: 8px;
	  height: 8px;
	  background: #fff;
	  margin-left: -4px;
	  top: 20px;
	  border-radius: 4px;
	  -webkit-animation-duration: 1.5s;
	          animation-duration: 1.5s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-name: scroll;
	          animation-name: scroll;
	}
	@-webkit-keyframes scroll {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	    -webkit-transform: translateY(46px);
	            transform: translateY(46px);
	  }
	}
	@keyframes scroll {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	    -webkit-transform: translateY(46px);
	            transform: translateY(46px);
	  }
	}


	@media only screen and (max-device-width: 480px) {
		.main,  {
				padding: 10px;
				color: #fff;
				border: 0px solid;
				border-radius: 15px;
				background-color: #486A8C;
				margin: auto;
				text-align: center;
				font-family: sans-serif, times;
				width: 80%
}
img.mainlogo {
	display: none;
}

		}
